/* ul, 
ol {
    list-style: none;
} */

a {
    text-decoration: none;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
:root {
    --knob-color: #2196F3;
    --text-color: #212121;;
    --whitey-color: #FFFFFF;
    --mail-color:  #757575; 
}
h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

ul,ol {
    margin-top: o;
    margin-bottom: 0;
    padding-left: 0;
}
.list {
    list-style: none;
}
li {
    list-style-type:none
}
.rif {
    font-style: normal;
}

/*--HEADER--*/
.menu-item:not(:last-child) {
    margin-right: 50px;

}
.menu-li {
    display: flex;
    align-items: center;
}
.log {
    margin-right: 71px;
}
.page-header {
    padding-top: 25px;
    border-width: 0 0 1rem 0;
    border: #ececec;
}
.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logotipe {
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
/* identical to box height */

letter-spacing: 0.03em;

color: #2196F3;
}


.logotip {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px; 
    letter-spacing: 0.03em;
    color: #010101;
}
.menu-li {
    font-family: 'Roboto',sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--text-color);
}
.menu-li:hover,
.menu-li:focus {
    color: var(--knob-color);
}
.contact-phoun-number {
    font-family: 'Roboto',sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--mail-color);
}
.page-nav {
    display: flex;
    align-items: center;
}
.contact {
    display: flex;
    margin-right: 50px;
    padding: 32px;
}

.contact {
    display: flex;
    margin-right: 50px;
    padding: 32px;
}
.contact-maill { 
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--knob-color);
}
/*--/======================HEADER--*/

/*============HERO==========================*/
.photo-top {
   display: flex;
   flex-wrap: wrap;
   padding-top: 50px;
   padding-bottom: 94px;
   margin-left: 215px;
   gap: 30px;
   flex-basis: calc((100% - 60px)/3);
   background: #FFFFFF;
   border: 1px solid #EEEEEE;
}

.menu-but {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 34;
}

.but {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--text-color);
   
}
.but:hover,
.but:focus {
    background-color: var(--knob-color);
    color: var(--whitey-color);
}
.proekt {
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    
    letter-spacing: 0.06em;
    color: var(--text-color);
}
.proek {
    font-family: 'Roboto',sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.87;
/* identical to box height, or 188% */

letter-spacing: 0.03em;

color: var(--mail-color);

}
/*============+HERO==========================*/

/*=================FOOTER====================*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2F303A;
}

.container {
    margin-left: 215px;
    margin-bottom: 9px;
}
.containers {
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 215px;
}


.logotipe {
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19px;
/* identical to box height */

letter-spacing: 0.03em;

color: var(--knob-color);
}

.logotipp {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #eff7fd;
}
.rif {
    font-family: 'Roboto',sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 1.71px;
/* or 171% */

letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
}
/*=================FOOTER====================*/